<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Čoro Moro</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Nakupy</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Zmrzka</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Kino</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Vecera</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Prechadzka</string>
		<key>price</key>
		<integer>500</integer>
	</dict>
</array>
</plist>
